images.png
__pycache__
__pycache__/
keepToken.py
cogs/__pycache__/
cogs/_pycache_/
*.pyc
*.cache
*._pycache_
*.__pycache__


cogs/__pycache__/agents.cpython-310.pyc
cogs/__pycache__/patchNotes.cpython-310.pyc
